
  .board {
    display: flex;
    overflow-x: auto;
  }

  .column {
    flex: 1;
    margin: 0 10px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 4px;
    min-width: 200px;
  }

  .column .headding{
    text-align: center;
  }

  .headding{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  mat-card{
    margin-top: 15px;
  }

  .title{
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .content{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

  .container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1% 1%;
    right: 0;
  }

  .example-form{
    margin-right: 10px;
  }