<app-popup [message]="message" [type]="messageType"></app-popup>

  <div class="container">
    <!-- <mat-card class="example-card"> -->
        <form class="formTag" [formGroup]="taskForm">
            <div><h6>Create Task</h6></div>
            <div class="form">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput type="name" formControlName="title" placeholder="Title">
                    @if (taskFormControl.title.invalid && taskFormControl.title.touched) {
                        <mat-error>Title is required</mat-error>
                      }                  
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput type="name" formControlName="description" placeholder="Description">
                    @if (taskFormControl.description.invalid && taskFormControl.description.touched) {
                        <mat-error>Description is required</mat-error>
                      }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Due date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (taskFormControl.dueDate.invalid && taskFormControl.dueDate.touched) {
                        <mat-error>Due date is required</mat-error>
                      } 
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Due date</mat-label>
                    <input matInput type="date" formControlName="dueDate" placeholder="Due date">
                    @if (taskFormControl.dueDate.invalid && taskFormControl.dueDate.touched) {
                        <mat-error>Due date is required</mat-error>
                      }  
                </mat-form-field> -->
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select formControlName="priority" placeholder="Priority">
                      @for(priority of priorities; track priority){
                        <mat-option [value]="priority">{{priority}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Status</mat-label>
                    <input matInput type="text" formControlName="status" placeholder="Sataus">
                    @if (taskFormControl.status.invalid && taskFormControl.status.touched) {
                        <mat-error>Status id  is required</mat-error>
                      }  
                </mat-form-field> -->
                <mat-form-field>
                  <mat-label>Select</mat-label>
                    <mat-select formControlName="status" placeholder="Status">
                    @for(status of statuses; track status){
                      <mat-option [value]="status">{{status}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button mat-flat-button (click)="onSubmit()">create</button>
            </div>
        </form>
      <!-- </mat-card> -->
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
